html {
  font-size: 16px;
  overflow-y: scroll;
  width: 100%;
}

body {
  background: hsl(215, 21%, 15%);
  margin: auto;
}

@media all and (min-width: 1401px) {
  body {
    width: 50%;
  }
}

@media all and (max-width: 899px) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  body {
    width: 95%;
  }
}

h3 {
  margin: 5px;
  font-size: 22px;
  color: #c4af62;
}

a {
  text-decoration: none;
  color: #8090e0;
}

.gh-link,
.live-link {
  border: 1px solid rgb(140, 140, 140);
  background: rgba(140, 140, 140, 0.199);
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
  padding: 5px;
  margin: 5px 10px 25px 10px;
  text-align: center;
}

.gh-link:hover,
.live-link:hover {
  transform: scale(1.1);
}

img {
  margin: 0 auto;
}

.screenshot > a > img {
  width: 250px;
  border-radius: 20px;
  display: flex;
  margin: auto;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
}

.screenshot > a > img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

h1 {
  margin-top: 16px;
  margin-bottom: 8px;
  min-height: 68px; /* to prevent pyramid from jumping */
  color: #c4af62;
}

@media all and (max-width: 899px) {
  h1 {
    margin-top: 16px;
    margin-bottom: 8px;
    min-height: 58px; /* to prevent pyramid from jumping */
  }
}

h1,
h2,
h3,
p,
a,
.col,
.center,
.front {
  text-align: center;
  font-family: 'Lato', 'Arial', serif;
}

i {
  font-size: 100px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: #c9d1d9;
  transition: all 0.2s ease-in-out;
}

h2 {
  color: #c4af62;
}

p,
button {
  color: #c9d1d9;
}

.description {
  margin: 10px 10px 0px 10px;
}

@media all and (max-width: 899px) {
  .description {
    margin: 10px 10px 15px 10px;
  }
}

.main-description {
  width: 80%;
  margin: 15px auto;
  font-size: 20px;
  text-align: center;
}

@media all and (max-width: 899px) {
  .main-description {
    width: 95%;
  }
}

.links {
  text-align: center;
  margin-bottom: 25px;
}

img {
  width: 200px;
  margin: auto;
  display: block;
  border-radius: 2rem;
  margin-bottom: 20px;
}

@media all and (max-width: 899px) {
  h1 {
    font-size: 27px;
  }
}

@media (min-width: 900px) and (max-width: 1400px) {
  h1 {
    font-size: 45px;
  }
}

@media all and (min-width: 1401px) {
  h1 {
    font-size: 50px;
  }
}

h1 {
  margin: 0;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  justify-content: center;
}

.project {
  border: 3px solid #30363d;
  background-color: #21262d;
  text-align: center;
  justify-self: auto;
  display: block;
  padding: 10px;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.project-links {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 80%;
  margin: auto;
}

.spacer {
  width: 100%;
  height: 50px;
}

@media all and (max-width: 899px) {
  .spacer {
    width: 100%;
    height: 100px;
  }
}

.tags {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  vertical-align: bottom;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  color: #c4af62;
}

a:hover {
  cursor: pointer;
  border-color: rgb(140, 140, 140);
  outline: 0 none;
}

.name:hover {
  cursor: pointer;
}

h2 {
  letter-spacing: 1px;
  text-align: center;
  margin: auto;
  font-size: 25px;
  display: block;
}

p {
  margin-bottom: 1.5rem;
  font-size: 20px;
}
