html {
    font-size: 16px;
    overflow-y: scroll;
    }

body, .footer {
    background: white;
    margin: auto;
}

@media all and (min-width: 1401px) {
    body {
        width: 50%;
    }
}

@media all and (max-width: 899px) {
    html, body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: 500ms linear 0s;
    -moz-transition: 500ms linear 0s;
    -o-transition: 500ms linear 0s;
    transition: 500ms linear 0s;
    outline: 0 none;
    color: blue;
    text-shadow: -.0625rem .0625rem .5rem #000DCA, .0625rem -.0625rem .5rem #fff;
}

img, .center {
    margin: 0 auto;
}

h1 {
    margin-top: 16px;
    margin-bottom: 8px;
    min-height: 68px; /* to prevent pyramid from jumping */
}

@media all and (max-width: 899px) {
h1 {
    margin-top: 16px;
    margin-bottom: 8px;
    min-height: 58px; /* to prevent pyramid from jumping */
}    
}

h1, h2, h3, p, a, .col, .center, .front, .footer {
    text-align: center;
    font-family: 'Lato', 'Arial', serif;
}

h1, a, h2 {
    color: black;
}

h2, img {
    display: inline;
}

p, div, h3, .center {
    color: black;
}

@media all and (min-width: 1401px) {
    p, div, h3, .center {
        color: black;
    }
}

@media all and (max-width: 899px) {
h1 {
    font-size: 27px;
}
}

@media (min-width:900px) and (max-width:1400px) {
h1 {
    font-size: 45px;
}
}

@media all and (min-width: 1401px) {
h1 {
    font-size: 50px;
}
}

h1 {
    margin: 0;
}

.row > img {
    vertical-align: middle;
    width: 60px;
}

.name:hover {
    cursor: pointer;
}

.frontimage {
   margin-top: 8px;
   margin-bottom: 10px;
}

.frontimage {
    text-align: center;
    display: block;
    width: 100px;
    animation: stretch 2s ease-out infinite alternate;
    -webkit-animation: stretch 2s ease-out infinite alternate;
    -moz-animation: stretch 2s ease-out infinite alternate;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: none;
    -moz-animation-fill-mode: none;
    animation-play-state: running;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
}

.frontimage:hover {
    -moz-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 2));
    filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 2));
    -webkit-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 2));
}

@keyframes stretch {
  0% {
    -moz-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 0.4));
    filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 0.4));
    -webkit-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 0.4));
  }
  100% {
    -moz-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 4));
    filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 4));
    -webkit-filter: drop-shadow(0rem 0rem 1.25rem rgba(255, 242, 53, 4));
  }
}

.footer {
    display: block;
    font-size: 18px;
    width: auto;
}

.col {
    flex: 1 1 left;
    padding: 5px;
}

h2 {
    letter-spacing: 1px;
    vertical-align: middle;
    margin-right: .5rem;
    text-align: left;
    font-size: 25px;
    display: block;
}


p {
    text-align: left;
    margin-bottom: 1.5rem;
}

.arrowleft {
    display: inline-block;
    float: left;
  width:33.33%;
  text-align:left;
    color: yellow;
    height: 24px;
}
.arrownav {
    display: block;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    max-width: 555px;
}

.arrowright {
    display: inline-block;
    float: left;
 width:33.33%;;
 text-align:right;
    color: yellow;
    height: 24px;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    text-align: left;
    font-size: 18px;
    display: block;
    margin: auto;
}

.gallery {
    position: relative;
    max-width: 90vw;
    margin: auto;
}

.row {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
    max-width: 700px;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides > a > img {
    max-height: 90vh;
    max-width: 90vw;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: -3vw;
}

/* Position the "next button" to the right */
.next {
    right: -3vw;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

#caption {
    text-align: center;
    color: black;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 50px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
    width: 50px;
}

.active, .demo:hover {
    opacity: 1;
}